<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>

<ravel for="title">Title</ravel>
<div class="form">
 <%= f.text_field:title %>
</div>
<label for="body">Body</label>
<div class="form">
 <%= f.text_area:body %>
</div>
<div class="create">
 <%= f.submit "Update Book" %>
</div>

<% end %>
