<div class="books">
 <div class="title">
  <h1>ようこそBookersへ!</h1>
 </div>
 <div class="text">
  <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
  <p>印象を共有し交換することができます</p>
 </div>
<a class="link" href="/books">start</a>
</div>