* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*top*/
.books {
  margin: 33px;
}

.title {
}

.text {
  padding-left: 33px;
  line-height: 50px;
}

.link {
  margin-left: 33px;
}
/*show*/
.show {
  padding-left: 80px;
}

.show-title {
  line-height: 80px;
}

.show-link {
  margin: 30px;
  
}
/*index*/
.bookers {
  margin: 33px;
}

.index-title {
  width: 182px;
}

.index-body {
  width: 573px;
}

.index-hoge {
  width: 150px;
}

/*new*/

.new-header {
  line-height: 60px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
