* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*top*/
.books {
  margin: 33px;
  font-size: 13px;
}

.title {
}

h1 {
  font-size: 30px;
}

.text {
  padding-left: 33px;
  line-height: 50px;
}

.link {
  margin-left: 33px;
}
/*show*/
.show {
  margin-top: 33px;
  margin-left: 50px;
}

.show-title {
}

.show-body {
  margin-top: 30px;
}

.show-link {
  margin: 30px;
}
/*index*/
.bookers {
  margin: 33px;
}

.index-title {
  width: 182px;
}

.index-body {
  width: 100px;
}

.index-hoge {
  width: 55px;
}

.index-hoge2 {
  width: 40px;
}

/*new*/

.new-header {
  line-height: 60px;
}

/*edit*/
.edit {
  margin: 33px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
